<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.mapper.CellPhoneMapper">
	<insert id="create" useGeneratedKeys="true" keyColumn="CELLPHONE_ID" keyProperty="id">
		insert into cellphone values(seq_cellphone.nextval,#{model},#{os},
		#{cpu}, #{ram}, #{storage}, #{color}, #{price}, #{brand.id}, #{description})	
	</insert>
	
	<delete id="delete">
		delete from CELLPHONE where CELLPHONE_ID = #{id}
	</delete>
	
	<update id="update">
		update CELLPHONE set CELLPHONE_ID = #{id}, CELLPHONE_MODEL = #{model},
		CELLPHONE_OS = #{os}, CELLPHONE_CPU = #{cpu}, CELLPHONE_ram = #{ram},
		CELLPHONE_storage = #{storage}, CELLPHONE_color = #{color},
		CELLPHONE_price = #{price}, CELLPHONE_DESCRIPTION = #{description},
		BRAND_ID = #{brand.id}
		where CELLPHONE_ID = #{id}
	</update>
	
	<select id="findOne" resultMap="CellPhone">
		select * from CELLPHONE c
		inner join BRAND b on b.BRAND_ID = c.BRAND_ID
		where CELLPHONE_ID = #{id}
	</select>

	<resultMap type="shop.model.CellPhone" id="CellPhone">
		<id column="CELLPHONE_ID" property="id"/>
		<result column="CELLPHONE_MODEL" property="model"/>
		<result column="CELLPHONE_OS" property="os"/>
		<result column="CELLPHONE_CPU" property="cpu"/>
		<result column="CELLPHONE_ram" property="ram"/>
		<result column="CELLPHONE_storage" property="storage"/>
		<result column="CELLPHONE_color" property="color"/>
		<result column="CELLPHONE_price" property="price"/>
		<result column="CELLPHONE_DESCRIPTION" property="description"/>
		<association property="brand" javaType="shop.model.Brand">
			<id column="BRAND_ID" property="id"/>
			<result column="BRAND_NAME" property="name"/>
			<result column="BRAND_DESCRIPTION" property="description"/>
		</association>
	</resultMap>
</mapper>







